*.Cache
*.bak
*.bat
*.jar
*.launch
*.log
*.map
*.swp
*.tmp
*.userprefs
*~.nib
.DS_Store
.buildpath
.classpath
.cproject
.externalToolBuilders/
.loadpath
.metadata
.nuget/
.pmd
.project
.settings/
Desktop.ini
Thumbs.db
assets/
bin/
encoding/
encodingfldr/
gen/
lint.xml
local.properties
packages/
reports/
target/
tmp/
