.cproject
.project
.buildpath
.metadata
bin/
tmp/
assets/
reports/
gen/
*.log
.pmd
lint.xml
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
Thumbs.db
Desktop.ini
.DS_Store
